body{
margin: 0;
text-align: center;
font-family: 'Montserrat', sans-serif;

}

h1{
  margin-top: 0;
font-family: 'Sacramento', cursive;
font-size: 90px;
margin-top: 50px;
color:  #66BFBF;
line-height: 2;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}

div{

  background-color: #FFF89A;
  margin: 0;
  position: relative;
  padding-top: 100px;
}
.image{
    width: 25%;
    float: left;
    margin-right:30px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.contact-me {
  position: relative;
  margin-top: auto;


}
.skill-row{
  width: 50%;
  height: 50%;
  margin:auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}
